table{
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    
    border-collapse: collapse;
    
}

th{
    font-size: 24px;
    font-weight: 700;
}

td{
    font-size: 20px;
    font-weight: 500;
}

th,td{
    border: 2px solid black;
    padding: 10px;   
    text-align: center;

}

.cost{
    font-size: 20px;
    font-weight: 700;
}